.background {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fdfdfd;
  background-image:
    radial-gradient(#0099ffef 1px, transparent 1px),
    radial-gradient(#0099ffef 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.background.dark {
  background-color: #111;
}
.navbar {
 
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #509ecfef;
}
.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #4cbed2;
}
.navbar div:hover {
  background-color: rgba(224, 76, 212, 0.768);
}
.background.dark .navbar div:hover {
  background-color: rgba(90, 49, 191, 0.588);
}
.navbar h3 {
  color: #fffefe;
  margin: 0 15px;
  font-size: 1.5rem;
  font-weight: 700;
}
.background.dark .navbar h3 {
  color: #ee0f0f;
}
.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e3e8ebef;
  background-color: #af45e4ef;
}

.navbar.Button {
  background-color: rgb(77, 225, 36);
}








